infra/scoring/state.json
{
    "StartAt": "Generate dataset",
    "States": {
      "Generate dataset": {
        "Resource": "<GENERATE_LAMBDA_FUNCTION_ARN>",
        "Type": "Task",
        "Next": "Train model (XGBoost)"
      },
      "Train model (XGBoost)": {
        "Resource": "arn:<PARTITION>:states:::sagemaker:createTrainingJob.sync",
        "Parameters": {
          "AlgorithmSpecification": {
            "TrainingImage": "<SAGEMAKER_TRAINING_IMAGE>",
            "TrainingInputMode": "File"
          },
          "OutputDataConfig": {
            "S3OutputPath": "s3://<S3_BUCKET>/models"
          },
          "StoppingCondition": {
            "MaxRuntimeInSeconds": 86400
          },
          "ResourceConfig": {
            "InstanceCount": 1,
            "InstanceType": "ml.m5.xlarge",
            "VolumeSizeInGB": 30
          },
          "RoleArn": "<SAGEMAKER_EXECUTION_ROLE_ARN>",
          "InputDataConfig": [
            {
              "DataSource": {
                "S3DataSource": {
                  "S3DataDistributionType": "ShardedByS3Key",
                  "S3DataType": "S3Prefix",
                  "S3Uri": "s3://<S3_BUCKET>/csv/train.csv"
                }
              },
              "ChannelName": "train",
              "ContentType": "text/csv"
            }
          ],
          "HyperParameters": {
            "objective": "reg:logistic",
            "eval_metric": "rmse",
            "num_round": "5"
          },
          "TrainingJobName.$": "$$.Execution.Name"
        },
        "Type": "Task",
        "Next": "Save Model"
      },
      "Save Model": {
        "Parameters": {
          "PrimaryContainer": {
            "Image": "<SAGEMAKER_TRAINING_IMAGE>",
            "Environment": {},
            "ModelDataUrl.$": "$.ModelArtifacts.S3ModelArtifacts"
          },
          "ExecutionRoleArn": "<SAGEMAKER_EXECUTION_ROLE_ARN>",
          "ModelName.$": "$.TrainingJobName"
        },
        "Resource": "arn:aws:states:::sagemaker:createModel",
        "Type": "Task",
        "Next": "Batch transform"
      },
      "Batch transform": {
        "Type": "Task",
        "Resource": "arn:<PARTITION>:states:::sagemaker:createTransformJob.sync",
        "Parameters": {
          "ModelName.$": "$$.Execution.Name",
          "TransformInput": {
            "CompressionType": "None",
            "ContentType": "text/csv",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "s3://<S3_BUCKET>/csv/test.csv"
              }
            }
          },
          "TransformOutput": {
            "S3OutputPath": "s3://<S3_BUCKET>/output"
          },
          "TransformResources": {
            "InstanceCount": 1,
            "InstanceType": "ml.m5.xlarge"
          },
          "TransformJobName.$": "$$.Execution.Name"
        },
        "End": true
      }
    }
  }